<footer class="bg-dark text-white mt-5">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-4">
                <h5>О компании</h5>
                <p>Краткое описание вашей компании и ее деятельности.</p>
            </div>
            <div class="col-md-4">
                <h5>Контакты</h5>
                <ul class="list-unstyled">
                    <li>Email: info@example.com</li>
                    <li>Телефон: +7 (123) 456-7890</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Быстрые ссылки</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'home' %}" class="text-white">Главная</a></li>
                    <li><a href="{% url 'about' %}" class="text-white">О нас</a></li>
                    <li><a href="{% url 'contact' %}" class="text-white">Контакты</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-3">
            <p>&copy; {% now "Y" %} Мой сайт. Все права защищены.</p>
        </div>
    </div>
</footer>