{% extends 'main/layoute.html' %}

{% block title %}Наши услуги{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>Наши услуги</h1>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Услуга 1</a>
            <a href="#" class="list-group-item list-group-item-action">Услуга 2</a>
            <a href="#" class="list-group-item list-group-item-action">Услуга 3</a>
        </div>
    </div>
</div>
{% endblock %}